<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superheroes Database!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    {% load static %}
</head>
<body class="bg-secondary text-white container-fluid">
    <div class = "row">
        <div class= "col display-4 text-uppercase text-center bg-dark">Superhero Database!</div>
    </div>
    <div class= "row">
        <div class= "col"></div>
        <div class= "col text-center">
            <ul class= "list-unstyled">
                {% for hero in all_heroes %}
                <li><div class= "col h2 shadow display-6">{{hero.name}} </div>
                    <div class= "btn-group btn-group-lrg shadow">
                        <button type="button" class= "btn btn-primary">
                            <a class= "text-white" href="{% url 'superheroes:detail' hero.id %}">Details!</a>
                        </button>
                        <button type="button" class= "btn btn-warning">
                            <a class= "text-white" href="{% url 'superheroes:update' hero.id %}">Update!</a>
                        </button>
                        <button type="button" class= "btn btn-danger">
                            <a class= "text-white" href="{% url 'superheroes:delete' hero.id %}">Delete!?</a>
                        </button>
                    </div>
                </h2></li>
                {% endfor %}
            </ul>
        </div>
        <div class= "col"></div>
    </div>
    <div class= "row">
        <div class= "col text-center">
            <button type="button" class= "btn-s btn-primary shadow">
                <a class= "text-white" href="{% url 'superheroes:create' %}">Add a new hero!</a> 
            </button>
        </div>
    </div>
    <div class= "row">
        <div class= "col-4 mx-auto mt-3">
            <img class= "img-fluid rounded-circle shadow" src="{% static 'superheroes/doc_strange_image.jpg' %}" alt="Doc Strange">
        </div>
    </div>
</body>
</html>